# Python
__pycache__/
*.py[cod]
*.pyc
.ipynb_checkpoints/

# Ambientes virtuais
venv/
env/
.venv/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Power BI
*.pbix~
*.pbix.bak

# Logs
*.log

# Dados sensíveis
*_backup.*
*_temp.*